<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>404error</title>
	<link href="/css/style.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<h1>AyaDesign</h1>
	</header>

	<main>
		<!-- エラー内容を表示 -->
		<h2> th:text="${status} + ' ' + ${error}"></h2>
		<p>404エラーの専用ページです</p>
		<button class="c-button-back" type="button" onclick="history.back()">
			一覧画面に戻る
		</button>
	</main>
</body>

</html>