/*---------------------------------
  base(共通)
---------------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	color: #fff;
	line-height: 60px;
	max-width: 900px;
	margin:0 auto;
	font-family: 'Sorts Mill Goudy', serif;
}

h2 {
	margin: 32px 0;
	color: #333;
	font-weight: normal;
	padding-left: 10px;
	border-left: 6px solid #6D7993;
}

a {
	text-decoration: none;
}

/*---------------------------------
  table(共通)
---------------------------------*/
table {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 5px 20px;
    font-weight: normal;
}

table th {
    background-color: #F2F2F2;
}

.c-table__lasttd {
	display: flex;
	border-top: 0px none;
	border-left: 0px none;
}

/*---------------------------------
  l-header(header共通)
---------------------------------*/
.l-header {
	height: 60px;
	background-color: #6D7993;
}

/*---------------------------------
  l-main(main共通)
---------------------------------*/
.l-main {
    max-width: 900px;
	margin:0 auto;
}

/*---------------------------------
  p-index(index.html)
---------------------------------*/
.p-index__form {
	display: flex;
	margin-bottom: 32px;
}

.p-index__input {
	display: inline-block;
	width: 240px;
	height: 32px;
	margin-left: 20px;
}

/*---------------------------------
  p-register(new.html,edit.html)
---------------------------------*/
.p-register__input-container {
	display: flex;
	margin-bottom: 16px;
}

.p-register__input-container span {
	font-size: 14px;
	color: red;
	margin-top: 5px;
	margin-left: 15px;
}

.p-register__input-container span:before {
	content: "*";
	margin-right: 3px;
}

.p-register__input-container:last-of-type{
	margin-bottom: 40px;
}

.p-register__category-container {
	margin-right: 18px;
    line-height: 36px;
}

/*---------------------------------
  c-button ボタン
---------------------------------*/
/* ボタン共通 */
button {
	height: 32px;
	border: 0px none;
	border-radius: 5px;
	font-size: 16px;
	color:  #fff;
    display: block;
    padding: 0 20px;
}

button:hover {
	opacity: 0.8;
}

/* ボタン_新しい商品を登録 */
.c-button-new__register {
	margin-bottom: 16px;
	background-color: #6D7993;
	height: 40px;
}

/* ボタン_検索*/
.c-button__search {
    display: inline-block;
	height: 32px;
	margin-left: 10px;
	padding: 0 20px;
	background-color: #96858F;
	border: 0px none;
	border-radius: 5px;
	color:  #fff;
}

/* ボタン_新規登録 */
.c-button__new {
	margin-bottom: 16px;
	background-color: #6D7993;
	height: 60px;
	width: 180px;
}

/* ボタン_登録変更 */
.c-button__registrationedit {
	margin-bottom: 16px;
	background-color: #6D7993;
	height: 60px;
	width: 180px;
}

/* ボタン_詳細 */
.c-button__detail {
	background-color: #6D7993;
	margin: 0 10px;
}

/* ボタン_更新 */
.c-button__edit {
	background-color: #96858F;
	margin: 0 10px;
}

/* ボタン_削除 */
.c-button__delete {
	background-color: #9099a2;
	margin: 0 10px;
}

/* ボタン_一覧に戻る */
.c-button__back {
	display: block;
	margin-top: 20px;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #6D7993;
	background-color: #fff;
	border: 1px solid #6D7993;
	border-radius: 3px;
}

.c-button__back:hover {
	opacity: 0.8;
}

/*---------------------------------
  c-input 
---------------------------------*/
/* label_ラベル */
.c-input__label {
	display: block;
	font-size: 16px;
	width: 100px;
	margin-right: 20px;
	background-color: #9099a2;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	padding: 6px 0;
}

/* input_テキスト入力 */
.c-input__text {
	width: 320px;
	padding-left: 10px;
}

/* input_チェックボックス */
.c-input__checkbox {
	width: 20px;
	margin-right: 5px;
}
