<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${title}">title</title>
	<link href="/css/style.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<h1 th:text="${logo}"></h1>
	</header>
	<main class="l-index">
		<h2>商品一覧</h2>
		<form class="p-index-form" action="search" method="get">
			<label>ID:<input class="input" type="search" name="id"></label>
			<div><input class="search" type="submit" value="検索" /></div>
		</form>

		<a th:href="@{/items/new}">
			<button class="c-button-new-register">新しい商品を登録</button>
		</a>

		<div th:if="${itemList} !=null">
			<table>
				<tr>
					<th>ID</th>
					<th>商品名</th>
					<th>価格</th>
					<th>カテゴリー</th>
					<th>数量</th>
					<th colspan="3"></th>
				</tr>
				<tr th:each="item:${itemList}" th:object="${item}">
					<td th:text="*{id}">id</td>
					<td th:text="*{name}">商品名</td>
					<td th:text="*{price}">価格</td>
					<td th:text="*{category}">カテゴリー</td>
					<td th:text="*{num}">数量</td>
					<td class="table-td">
						<a th:href="@{/items/detail/id={id}(id=*{id})}"><button class="c-button-detail">詳細</button></a>
						<a th:href="@{/items/edit/id={id}(id=*{id})}"><button class="c-button-edit">変更</button></a>

						<form th:method="post" th:action="@{/items/delete/id={id}(id=*{id})}">
							<button class="c-button-delete">削除</button>
						</form>
					</td>
				</tr>
			</table>
		</div>
	</main>
</body>

</html>