<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${title}">title</title>
	<link href="/css/style.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
</head>

<body>
	<header class="l-header">
		<h1 th:text="${logo}"></h1>
	</header>
	<main class="l-main">
		<h2>商品登録変更</h2>

		<form class="p-register__form" th:method="post" th:object=${item} th:action="@{/items/edit/id={id}(id=*{id})}">
			<div class="p-register__input-container">
				<label class="c-input__label" for="name">商品名</label>
				<input class="c-input__text" id="name" type="text" th:field="*{name}">
			</div>
			<div class="p-register__input-container">
				<label class="c-input__label" for="price">価格</label>
				<input class="c-input__text" id="price" type="text" th:field="*{price}">
			</div>
			<div class="p-register__input-container">
				<label class="c-input__label" for="category">カテゴリー</label>
				<div th:each="item : ${radioCategory}" class="form-check-inline">
					<div class="p-register__category-container">
						<input id="category" type="radio" class="form-check-input c-input__checkbox" th:text="${item.value}"
							th:value="${item.value}" 　th:field="*{category}">
					</div>
				</div>
			</div>
			<div class="p-register__input-container">
				<label class="c-input__label" for="num">数量</label>
				<input class="c-input__text" id="num" type="text" th:field="*{num}">
			</div>

			<button class="c-button__registrationedit">登録変更</button>
		</form>
		<button class="c-button__back" type="button" onclick="history.back()">一覧画面に戻る</button>
	</main>
</body>

</html>